<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="StaticFile" path="*" verb="*" modules="StaticFileModule,DefaultDocumentModule,DirectoryListingModule" resourceType="Either" requireAccess="Read" />
    </handlers>
    <caching enabled="true" enableKernelCache="true">
      <profiles>
        <add extension="*.png" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" location="Any" />
        <add extension="*.jpg" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" location="Any" />
        <add extension="*.gif" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" location="Any" />
        <add extension="*.eot" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" location="Any" />
        <add extension="*.woff" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" location="Any" />
        <add extension="*.ttf" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" location="Any" />
        <add extension="*.svg" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" location="Any" />
        <add extension="*.css" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" location="Any" />
        <add extension="*.js" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" location="Any" />
      </profiles>
    </caching>
    <staticContent>
      <remove fileExtension=".eot"/>
      <mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject" />
      <remove fileExtension=".ttf"/>
      <mimeMap fileExtension=".ttf" mimeType="application/octet-stream" />
      <remove fileExtension=".svg"/>
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
      <remove fileExtension=".woff"/>
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
      <remove fileExtension=".woff2"/>
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="24:00:00" />
    </staticContent>
  </system.webServer>
</configuration>