
<div id="MouseMoveTrapOverlay" style="display:none"></div>

<div id="BgFilter" style="display:none"></div>

<div id="DashboardItems">
    <div id="Fullscreen" style="display: none"></div>
</div>

<div id="Board"></div>

<div id="Dashboard">
    <div id="Header">
        <div id="HeaderMain">
            <div id="HeaderCenter">
                <div id="HeaderTop">
                    <div id="TitleHolder">
                        <div id="TitleLogo" style="display:none"></div>
                        <div id="Title">Optimization algorithms for solving incremental box placement problems.</div>
                    </div>

                    <div id="HeaderTopRight">
                        <div id="FirstHeaderRow">
                            <div id="UserHandlerName"></div>
                        </div>
                        <div id="SecondHeaderRow">
                            <div id="ButtonPanelHolder"></div>
                            <div id="VersionInformationHolder"></div>
                        </div>
                    </div>
                </div>
                <div id="HeaderBottom">
                    <div id="NavigationBar"></div>
                </div>
            </div>
        </div>
    </div>

    <div id="ToasterHolder"><div id="Toaster" class="toaster"></div></div>

    <div id="Content">
        <div id="MiddleOuter">
            <div id="Middle">
                <div id="MiddleHolder">
                    <div id="LoadBar" class="loadBar" style="display:none"><div id="ePEC_LoadBarProgress" class="loadBarProgress"><div id="LoadBarCandy" class="loadBarCandy"></div></div></div>
                </div>
            </div>
        </div>

        <div id="SideMenu" class="sideMenu" style="display: none"></div>

        <div id="ContentBody" class="headerOffset">
            <ViewLoader name="Content" />
        </div>
    </div>
</div>