

<div id="ScriptieStats" class="scriptieBox">
    <table>
        <tr>
            <td>Max Configurations</td>
            <td>
                <div id="TxtConfigurations" class="textboxHolder">
                    <div id="" class="textboxLabel" unselectable="on"></div>
                    <input id="" class="textbox" name="Search" type="text" value="" />
                </div>
            </td>
        </tr>
        <tr><td style="font-size:15px; font-weight: bold">Current Config</td><td></td></tr>
        <tr><td>Displacement grade</td><td><span id="LblDisplacement" class="lblGrade">0</span></td></tr>
        <tr><td>Overlap grade</td><td><span id="LblOverlap" class="lblGrade">0</span></td></tr>
        <tr><td>Overall grade</td><td><span id="LblOverall" class="lblGrade">0</span></td></tr>
        <tr><td>Time</td><td><span id="LblTime" class="lblGrade">0</span></td></tr>
        <tr><td>Configurations</td><td><span id="LblConfigurations" class="lblGrade">0</span></td></tr>
        <tr><td style=""></td><td></td></tr>
        <tr><td style="font-size:15px; font-weight: bold">Weights</td><td></td></tr>
        <tr>
            <td>Overlap</td>
            <td>
                <div id="TxtOverlapWeight" class="textboxHolder">
                    <div id="" class="textboxLabel" unselectable="on"></div>
                    <input id="" class="textbox" name="Search" type="text" value="1" />
                </div>
            </td>
        </tr>
        <tr>
            <td>Displacement</td>
            <td>
                <div id="TxtDisplacementWeight" class="textboxHolder">
                    <div id="" class="textboxLabel" unselectable="on"></div>
                    <input id="" class="textbox" name="Search" type="text" value="1" />
                </div>
            </td>
        </tr>
        <tr><td style="font-size:15px; font-weight: bold">Weighting Schemes</td><td></td></tr>
        <tr>
            <td colspan="2">
                <div id="RBLSchemes" class="radiobuttonList">
                    <!--
                <div id="rs2" class="radiobutton rli">
                    <div class="rbb radioButton">&#x2714;</div>
                    <div id="" class="radioLabel rll">Keeney Raiffa Utility</div>
                </div>
                <div id="rs3" class="radiobutton rli">
                    <div class="rbb radioButton">&#x2714;</div>
                    <div id="" class="radioLabel rll">Chebychev Weighting</div>
                </div>-->
                </div>
            </td>
        </tr>
        <tr><td style="font-size:15px; font-weight: bold">Algorithms</td><td></td></tr>
        <tr>
            <td colspan="2">
                <div id="RBLStrats" class="radiobuttonList">
                </div>
            </td>
        </tr>
        <tr><td style="height:10px;"></td><td></td></tr>
    </table>
</div>

<div id="ScriptieControls" class="scriptieBox">
    <table>
        <tr>
            <td colspan="2">
                <div id="GenerateSizes" class="cButton btnAddOne">Generate Box Sizes</div>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <a id="ShowSizes" style="text-decoration:underline">Show box sizes</a>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <div id="BtnResetSetup" class="cButton btnAddOne">Reset Setup</div>
            </td>
        </tr>
        <tr><td colspan="2" style="font-size:15px; font-weight: bold">Target Location</td></tr>
        <tr>
            <td>Left</td>
            <td>
                <div id="TxtTargetLeft" class="textboxHolder">
                    <div id="" class="textboxLabel" unselectable="on"></div>
                    <input id="" class="textbox" name="Search" type="text" value="100" />
                </div>
            </td>
        </tr>
        <tr>
            <td>Top</td>
            <td>
                <div id="TxtTargetTop" class="textboxHolder">
                    <div id="" class="textboxLabel" unselectable="on"></div>
                    <input id="" class="textbox" name="Search" type="text" value="100" />
                </div>
            </td>
        </tr>
        <tr><td colspan="2" style="font-size:15px; font-weight: bold">Controls</td>
        <tr>
            <td colspan="2">
                <div id="AddOne" class="cButton btnAddOne">Add One Shape</div>
            </td>
        </tr>
        <tr><td colspan="2" style="font-size:15px; font-weight: bold">Expirement</td>
        <tr>
            <td>
                Number of shapes
            </td>
            <td>
                <div id="TxtAddMultiple" class="textboxHolder">
                    <div id="" class="textboxLabel" unselectable="on"></div>
                    <input id="InpAddMultiple" class="textbox" name="Search" type="text" value="20" />
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <div id="AddMultiple" class="cButton btnAddOne">Add Multiple</div>
            </td>
        </tr>
    </table>
</div>

<div id="ExperimentBox" class="scriptieBox">
    <table>
        <tr><td colspan="2" style="font-size:15px; font-weight: bold">Full Experiment</td>
        <tr>
            <td style="min-width: 80px">
                Algorithms
            </td>
            <td>
                <div id="BtnFullExpirementSettings" class="nButton"><i class="far fa-sliders-v-square"></i> Settings</div>
            </td>
        </tr>
        <tr>
            <td style="min-width: 80px">
                Iterations
            </td>
            <td>
                <div id="TxtIterations" class="textboxHolder">
                    <div id="" class="textboxLabel" unselectable="on"></div>
                    <input id="InpIterations" class="textbox" name="Search" type="text" value="1" />
                </div>
            </td>
        </tr>
    </table>
    <div id="BtnRunFullExpirement" class="nButton"><i class="fal fa-table" style="margin-right: 4px"></i> Run Full Experiment</div>
    <div id="BtnAddNextBox" class="nButton" style="display: none"><i class="fal fa-plus-circle" style="margin-right: 4px"></i> Add Next Box</div>
</div>